<app-content>
  <ng-container content>
    <div class="row">
      <div class="col-md-12">
        <p>Add Counter</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label for="purpose">Purpose</label>
              <input type="text" id="purpose" class="input">
            </div>
            <div class="form-group">
              <label for="countername">Counter name</label>
              <input type="text" id="countername" class="input">
            </div>
            <div class="form-group mt-5 d-flex justify-content-between">
              <div class="btn">Submit</div>
              <a routerLink="/admin/counter"><div class="btn btn-back">Back</div></a>
            </div>
          </div>
        </div>
      </div>
    </div>

   </ng-container>
</app-content>
