<app-content>
  <ng-container content>
    <div class="row">
      <div class="col-md-12">
        <p>Add Counter</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="counterForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Purpose</label>
                <small *ngIf="formErrors.purpose" class="text-danger"> *Fill this purpose field</small>
                <input formControlName="purpose" type="text" class="input">
              </div>
              <div class="form-group">
                <label>Counter name</label>
                <small *ngIf="formErrors.name" class="text-danger"> *Fill this name field</small>
                <input formControlName="name" type="text" class="input">
              </div>
              <div class="form-group mt-5 d-flex justify-content-between">
                <button type="submit" class="btn">Submit</button>
                <a routerLink="/admin/counter"><div class="btn btn-back">Back</div></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

   </ng-container>
</app-content>
