.card{
  background-color: var(--30);
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.input{
  display: block;
  width: 100%;
  font-size: 12px;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background-color: var(--5);
  outline: none;
  border: none;
  margin-top: 2px;
}

.btn{
  background-color: var(--10);
  color: white;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-report{
  background-color: var(--50);
  color: white;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

td{
  border-bottom: none;
}

a{
  text-decoration: none;
}
.date{
  color: black;
  font-size: 10px;
}
.mat-datepicker-toggle .mat-icon-button {
  color: #ff253a;
}
.mat-calendar {
  color: #ff253a;
}

.modal-content{
  padding: 20px;
  border: none;
  border-radius: 3px;
  background-color: var(--50);
}

.btn-close-modal{
  background-color: var(--30);
  color: white;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
