<app-content>
  <ng-container content>
    <div class="row">
      <div class="col-md-12">
        <p>Report Counter -Counter Name-</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card pb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                <label for="status">Status</label>
                <select class="input" id="status">
                  <option value="">All Status</option>
                </select>
              </div>
              <div class="col-md-2">
                <label for="search">Search</label>
                <input type="text" class="input" id="search" autocomplete="off">
              </div>
              <div class="col-md-4">
                <label>Date</label>
                <mat-form-field  class="input date">
                  <mat-date-range-input color="" [rangePicker]="picker" [formGroup]="dateRange">
                    <input matStartDate formControlName="start" placeholder="Start Date">
                    <input matEndDate formControlName="end" placeholder="End Date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>
              <div class="col-md-2 d-flex align-items-end">
                <span class="btn text-center mt-3">Search</span>
              </div>
              <div class="col-md-2 d-flex align-items-end justify-content-lg-end justify-content-md-end">
                <a><span class="btn mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Print Report</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body table-responsive-sm">
            <table class="table text-white">
              <thead>
              <tr>
                <th>No</th>
                <th>Note</th>
                <th>Status</th>
                <th>Date</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Note</td>
                <td>Status</td>
                <td>Date</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade-scale" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="form-group">
              <label> Print Report</label>
             <div class="d-flex justify-content-between mt-3">
               <div class="d-flex justify-content-center">
                 <button type="button" class="btn me-3">Print PDF</button>
                 <button type="button" class="btn me-3">Print Excel</button>
               </div>
               <div class="d-flex justify-content-end">
                 <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Back</button>
               </div>
             </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-content>
