.content {
  margin-left: 250px;
  background-color: var(--50);
  font-family: 'Inknut Antiqua', serif;
  color: white;
}

@media screen and (max-width: 1000px) {
  .content {
    margin-left: 0;
  }
}
