<app-content>
  <ng-container content>
    <div class="row">
      <div class="col-md-12">
        <p>Counter Control</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card pb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                <label for="status">Status</label>
                <select class="input" id="status" #status>
                  <option value="">All Status</option>
                  <option value="1">Active</option>
                  <option value="2">Non Active</option>
                </select>
              </div>
              <div class="col-md-2">
                <label for="search">Search</label>
                <input type="text" class="input" id="search" autocomplete="off" #search>
              </div>
              <div class="col-md-2 d-flex align-items-end">
                <div class="btn text-center mt-3" (click)="filters(status.value, search.value)">Search</div>
              </div>
              <div class="col-md-6 d-flex align-items-end justify-content-lg-end justify-content-md-end">
                <a routerLink="/admin/counter/add"><span class="btn mt-3">Add Counter</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3 mb-5">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body table-responsive-sm" *ngIf="counters ;else loading">
            <table class="table text-white">
              <thead>
                <tr>
                  <th class="text-center">No</th>
                  <th>Counter Name</th>
                  <th>Purpose</th>
                  <th>Status</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let counter of counters | paginate: {
                                                      itemsPerPage: perPage,
                                                      currentPage: currentPage,
                                                      totalItems: totalData } ; let i = index">
                <td class="text-center">{{absoluteIndex(i)}}</td>
                <td>{{counter.name}} </td>
                <td>{{counter.purpose}}</td >
                <td *ngIf="counter.status_counters_id == 1;else statusBlock"> Active </td>
                <ng-template #statusBlock><td>None Active</td></ng-template>

                <td class="d-flex justify-content-center">
                  <a routerLink="/admin/counter/report"  class="btn btn-sm btn-report"><i class="fa-solid fa-file"></i></a>
                  <a [routerLink]="['/admin/counter/edit', counter.id]" class="btn btn-sm ms-2"><i class="fa-solid fa-pen text-white"></i></a>
                </td >
              </tr>
              </tbody>

            </table>
            <pagination-controls (pageChange)="changePage(status.value, search.value,currentPage = $event)"></pagination-controls>
          </div>
            <ng-template #loading>
              <div id="loading" class="text-center pt-3" style="height: 100px;">
                <app-loading></app-loading>
              </div>
            </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
</app-content>
