<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 left d-flex justify-content-center align-items-center">
      <div id="logo" >Qu<span>eue</span> </div>
    </div>
    <div class="col-md-6 right d-flex justify-content-center align-items-lg-center align-items-md-center">
      <div class="card shadow-sm pt-3">
        <div class="card-body">
          <div class="head p-4 text-center">
            <h1 id="title"><strong>LOGIN</strong></h1>
            <small class="small text-white">Start New Session</small>
          </div>
          <form>
            <div class="d-flex justify-content-center">
              <input type="text" class="input d-block" placeholder="username">
            </div>
            <div class="d-flex justify-content-center">
              <input type="password" class="input d-block" placeholder="password">
            </div>
            <div class="btn btn-dark btn-sm shadow-sm">LOGIN</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
