<app-content>
    <ng-container content>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <p>Control This Counter</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <h2>Your Active Counter</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 my-1">
                    <div class="card">
                        <div class="card-body text-center" *ngIf="counter;else loading">
                            <div class="my-3">
                                <h4 class="space text-muted">Counter Name</h4>
                                <h3 class="space">{{counter.name}}</h3>
                            </div>
                            <div class="my-3">
                                <h4 class="space text-muted">Counter Purpose</h4>
                                <h3 class="space">{{counter.purpose}}</h3>
                            </div>
                            <span class="accent"></span>
                        </div>
                        <ng-template #loading>
                                <div id="loading" class="text-center pt-3" style="height: 100px;">
                                  <app-loading></app-loading>
                                </div>
                        </ng-template>
                    </div>
                </div>
                <div class="col-md-2 my-1">
                    <div class="card btn" (click)="previous(currentOccureNumber)">
                       <div class="card-body">
                            <i class="fa-solid fa-caret-left"></i> Previous
                       </div>
                    </div>
                </div>
                <div class="col-md-2 my-1">
                    <div class="card" *ngIf="occureStatus;else loadingAccure">
                        <div class="card-body text-center">
                            <strong style="font-size: 30px;" >
                              {{currentOccureNumber}}
                            </strong>
                        </div>
                    </div>
                    <ng-template #loadingAccure>
                                        <div id="loading" class="text-center">
                                          <app-loading></app-loading>
                                        </div>
                    </ng-template>
                    <div class="card mt-3 btn btn-skip" (click)="skip(currentOccureNumber)">
                        <div class="card-body text-center">
                            Skip
                        </div>
                    </div>
                </div>
                <div class="col-md-2 my-1">
                    <div class="card btn" (click)="next(currentOccureNumber)">
                        <div class="card-body">
                            Next <i class="fa-solid fa-caret-right"></i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-4">
               <div class="col-md-5">
                <div class="card">
                    <div class="card-body" *ngIf="queues[0];else loadingQueue">
                        <table class="table text-white text-center" aria-hidden="true">
                            <thead>
                                <tr>
                                    <th>Queue</th>
                                    <th>status</th>
                                </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let queue of queues;let i = index">
                                  <tr [ngClass]="{'mark' : queue.id == occureStatus.id}">
                                      <td>{{queue.no}}</td>
                                        <container-element [ngSwitch]="queue.status_queues_id">
                                          <td *ngSwitchCase="1">Waiting</td>
                                          <td *ngSwitchCase="2">Occure</td>
                                          <td *ngSwitchCase="3">Done</td>
                                          <td *ngSwitchCase="4">Skip</td>
                                        </container-element>
                                  </tr>
                              </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #loadingQueue>
                                <div id="loading" class="text-center pt-3" style="height: 100px;">
                                  <app-loading></app-loading>
                                </div>
                    </ng-template>
                </div>
               </div>
            </div>
        </div>
    </ng-container>
</app-content>
