h2,
h3,
h4 {
    font-family: 'Inknut Antiqua', serif;
}

.card {
    background-color: var(--30);
    border-radius: 3px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.3s;
}

.space {
    margin: 1px 0;
}

.accent {
    position: absolute;
    width: 5px;
    height: 100%;
    right: 1px;
    bottom: 0;

    background-color: var(--10);
    border-radius: 5px 0 0 5px;
}

.pointer{
    cursor: pointer;
}

.btn{
    padding: 2px 0;
    color: white;
}

.btn-skip{
    background-color: var(--10);
}

td {
    border-bottom: none;
}

.mark{
    background: #2C3639;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-right: 4px solid var(--10);
}


