<app-content>
  <ng-container content>
    <div class="row">
      <div class="col-md-12">
        <p>Edit Counter</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="counterForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Purpose</label>
                <small *ngIf="formErrors.purpose" class="text-danger"> *Fill this purpose field</small>
                <input formControlName="purpose" type="text" class="input">
              </div>
              <div class="form-group">
                <label>Counter name</label>
                <small *ngIf="formErrors.name" class="text-danger"> *Fill this name field</small>
                <input formControlName="name" type="text" class="input">
              </div>
              <div class="form-group">
                 <label for="status">Status</label>
                  <select formControlName="status_counters_id" class="input" id="status" #status>
                    <option value="1">Active</option>
                    <option value="2">Non Active</option>
                  </select>
              </div>
              <div class="form-group mt-5 d-flex justify-content-between">
                <button type="submit" class="btn">Submit</button>
                <a routerLink="/admin/counter"><div class="btn btn-back">Back</div></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
     <div class="col-md-12">
       <p>Delete This Counter *All of this counter data will be lost</p>
       <div class="btn btn-delete">Delete</div>
     </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
          <div class="d-flex justify-content-between mb-3">
            <p>User Counter Counter</p>
            <a class="btn btn-assign" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Assign User</a>
          </div>
          <div class="card">
            <div class="card-body table-responsive-sm">
              <table class="table text-white">
                <thead>
                <tr>
                  <th>No</th>
                  <th>User Name</th>
                  <th width="5%" class="text-left ">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>Si Amang Paling DOyan Kpio Item Gk DI Anduk </td>
                  <td class="text-center">
                    <a class="btn btn-remove"><i class="fa-solid fa-trash"></i></a>
                  </td >
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade-scale" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="form-group">
              <label> Select ser</label>
              <select class="input">
                <option value="">Select User</option>
              </select>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button type="button" class="btn">Submit</button>
              <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-container>
</app-content>
