/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
:root {
  --50: #2C3639;
  --30: #3F4E4F;
  --10: #A27B5C;
  --5: #DCD7C9;
}
